In [10]:
#pip install pyspark

Requirement already satisfied: pyspark in d:\jupitor\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in d:\jupitor\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [11]:
#pip install findspark

Collecting findspark
  Obtaining dependency information for findspark from https://files.pythonhosted.org/packages/a4/cb/7d2bb508f4ca00a043fd53e8156c11767799d3f534bf451a0942211d5def/findspark-2.0.1-py2.py3-none-any.whl.metadata
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import *
import findspark
findspark.init()

In [2]:
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .appName("Python Spark SQL basic example") \
    .config("spark.driver.maxResultSize", "1g") \
    .getOrCreate()

In [3]:


# spark = SparkSession \
#     .builder \
#     .appName("Python Spark SQL basic example") \
#     .config("spark.jars",'C:\\Users\\kiran\\Downloads\\postgresql-42.2.18.jar') \
#     .getOrCreate()


# df = spark.read \
#     .format("jdbc") \
#     .option("url", "jdbc:postgresql://localhost:5432/metadata") \
#     .option("dbtable", "public.customervisits") \
#     .option("user", 'root') \
#     .option("password",'root') \
#     .option("driver", "org.postgresql.Driver") \
#     .load()

# df.show()

In [4]:
#df.createOrReplaceTempView("test")

In [5]:
#result= spark.sql("select rating from test")

In [6]:
#result.show()

In [7]:
# spark = SparkSession.builder \
#     .master("local") \
#     .appName("Word Count") \
#     .config("spark.some.config.option", "some-value") \
#     .getOrCreate()

In [8]:
# df=spark.read.csv("datasets/customervisits.csv", header=True)
# df1=spark.read.csv("C:\\Users\\kiran\\OneDrive\\Desktop\\staff.csv", header=True)
# df2=spark.read.csv("C:\\Users\\kiran\\OneDrive\\Desktop\\customer.csv", header=True)
# df3=spark.read.csv("C:\\Users\\kiran\\OneDrive\\Desktop\\campegin.csv", header=True)

In [9]:

#df4=df.join(df2,'custid')

In [10]:
#df4.show()

In [11]:
#df=spark.read.load("C:\\Users\\kiran\\OneDrive\\Desktop\\customervisits.csv", format="csv", sep=";", inferSchema=True, header=True)

In [12]:
#df.show()

In [13]:
#df = spark.sql("SELECT * FROM csv.`C:\\Users\\kiran\\OneDrive\\Desktop\\customervisits.csv`")

In [14]:
#df.show()

In [15]:
from pyspark.sql import SQLContext

In [18]:
sqlcontext=SQLContext(spark)

D:\juypitor\lib\site-packages\pyspark\sql\context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [19]:
#empdf=sqlcontext.read.csv("C:\\Users\\kiran\\OneDrive\\Desktop\\customervisits.csv",header=True)

In [20]:
#empdf.show()

In [21]:
#empdf.select('dish_cuisine').show()

In [22]:
#empdf.filter(empdf['dish_cuisine']=='indian').show()

In [23]:
#empdf.groupBy('dish_cuisine').count().show()

In [24]:
#empdf.groupBy('indian').agg({qty:7,rating:4.0}).show()

In [25]:
#empdf.registerTempTable('employee')

In [26]:
#sqlcontext.sql('select * from employee').show()

In [27]:
# emppands=empdf.toPandas()
# for index,row in emppands.iterrows():
#     print(row['dish_cuisine'])

In [28]:
# from pyspark.sql import SparkSession

In [18]:
# from pyspark.sql import SparkSession
# import pandas as pd

# spark = SparkSession.builder \
#     .master("local[5]") \
#     .appName("Word Count") \
#     .config("spark.some.config.option", "some-value") \
#     .getOrCreate()

In [16]:
df=spark.sql("SELECT from_utc_timestamp('2016-08-31', 'Asia/Seoul')")

In [17]:
df.show()

+------------------------------------------+
|from_utc_timestamp(2016-08-31, Asia/Seoul)|
+------------------------------------------+
|                       2016-08-31 09:00:00|
+------------------------------------------+

In [4]:
df=spark.read.csv("datasets/covid.csv", header=True)
df.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- State/UnionTerritory: string (nullable = true)
 |-- ConfirmedIndianNational: string (nullable = true)
 |-- ConfirmedForeignNational: string (nullable = true)
 |-- Cured: string (nullable = true)
 |-- Deaths: string (nullable = true)
 |-- Confirmed: string (nullable = true)

In [5]:
sch=StructType([StructField('Sno',StringType(),True),
                 StructField('Date',StringType(),True),
                StructField('Time',StringType(),True),
                StructField('State/UnionTerritory',StringType(),True),
                StructField('ConfirmedIndianNational',StringType(),True),
                StructField('ConfirmedForeignNational',StringType(),True),
                StructField('Cured',StringType(),True),
               StructField('Deaths',StringType(),True),
               StructField('Confirmed',StringType(),True)])
df=spark.read.schema(sch).csv("datasets/covid.csv",header=True)

In [6]:
df.show()

+---+--------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
|Sno|    Date|   Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|
+---+--------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
|  1|30/01/20|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|
|  2|31/01/20|6:00 PM|              Kerala|                      1|                       0|    0|     0|        1|
|  3|01/02/20|6:00 PM|              Kerala|                      2|                       0|    0|     0|        2|
|  4|02/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  5|03/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  6|04/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  7|05/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  8|06/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
|  9|07/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 10|08/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 11|09/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 12|10/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 13|11/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 14|12/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 15|13/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 16|14/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 17|15/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 18|16/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 19|17/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
| 20|18/02/20|6:00 PM|              Kerala|                      3|                       0|    0|     0|        3|
+---+--------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- Sno: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- State/UnionTerritory: string (nullable = true)
 |-- ConfirmedIndianNational: string (nullable = true)
 |-- ConfirmedForeignNational: string (nullable = true)
 |-- Cured: string (nullable = true)
 |-- Deaths: string (nullable = true)
 |-- Confirmed: string (nullable = true)

In [8]:
df.withColumn('State/UnionTerritory',when(col('State/UnionTerritory')=='Kerala','Postive State').when(col('State/UnionTerritory')=='Maharashatra','Negative State')).show()

+---+--------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
|Sno|    Date|   Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|
+---+--------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
|  1|30/01/20|6:00 PM|       Postive State|                      1|                       0|    0|     0|        1|
|  2|31/01/20|6:00 PM|       Postive State|                      1|                       0|    0|     0|        1|
|  3|01/02/20|6:00 PM|       Postive State|                      2|                       0|    0|     0|        2|
|  4|02/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
|  5|03/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
|  6|04/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
|  7|05/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
|  8|06/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
|  9|07/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 10|08/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 11|09/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 12|10/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 13|11/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 14|12/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 15|13/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 16|14/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 17|15/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 18|16/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 19|17/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
| 20|18/02/20|6:00 PM|       Postive State|                      3|                       0|    0|     0|        3|
+---+--------+-------+--------------------+-----------------------+------------------------+-----+------+---------+
only showing top 20 rows

In [9]:
df_date_time=df.withColumn("Date",to_date("Date","yy/mm/dd")) \
     .withColumn("Time",to_timestamp("Time",'HH:mm:ss'))

In [10]:
df_date_time.show()

+---+----------+----+--------------------+-----------------------+------------------------+-----+------+---------+
|Sno|      Date|Time|State/UnionTerritory|ConfirmedIndianNational|ConfirmedForeignNational|Cured|Deaths|Confirmed|
+---+----------+----+--------------------+-----------------------+------------------------+-----+------+---------+
|  1|2030-01-20|null|              Kerala|                      1|                       0|    0|     0|        1|
|  2|2031-01-20|null|              Kerala|                      1|                       0|    0|     0|        1|
|  3|2001-01-20|null|              Kerala|                      2|                       0|    0|     0|        2|
|  4|2002-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
|  5|2003-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
|  6|2004-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
|  7|2005-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
|  8|2006-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
|  9|2007-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 10|2008-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 11|2009-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 12|2010-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 13|2011-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 14|2012-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 15|2013-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 16|2014-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 17|2015-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 18|2016-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 19|2017-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
| 20|2018-01-20|null|              Kerala|                      3|                       0|    0|     0|        3|
+---+----------+----+--------------------+-----------------------+------------------------+-----+------+---------+
only showing top 20 rows

In [11]:
# from pyspark.sql.functions import *

# newdf = elevDF.select(year(elevDF.date).alias('dt_year'), month(elevDF.date).alias('dt_month'), dayofmonth(elevDF.date).alias('dt_day'), dayofyear(elevDF.date).alias('dt_dayofy'), hour(elevDF.date).alias('dt_hour'), minute(elevDF.date).alias('dt_min'), weekofyear(elevDF.date).alias('dt_week_no'), unix_timestamp(elevDF.date).alias('dt_int'))

newdf = df_date_time.select(year(df_date_time.Date).alias('year'),month(df_date_time.Date).alias('month'),dayofmonth(df_date_time.Date).alias('day'))
newdf.show()

+----+-----+---+
|year|month|day|
+----+-----+---+
|2030|    1| 20|
|2031|    1| 20|
|2001|    1| 20|
|2002|    1| 20|
|2003|    1| 20|
|2004|    1| 20|
|2005|    1| 20|
|2006|    1| 20|
|2007|    1| 20|
|2008|    1| 20|
|2009|    1| 20|
|2010|    1| 20|
|2011|    1| 20|
|2012|    1| 20|
|2013|    1| 20|
|2014|    1| 20|
|2015|    1| 20|
|2016|    1| 20|
|2017|    1| 20|
|2018|    1| 20|
+----+-----+---+
only showing top 20 rows

In [12]:
df=spark.read.option("multiline","true").json('datasets/data.json')

In [13]:
df.printSchema()

root
 |-- @context: string (nullable = true)
 |-- @id: string (nullable = true)
 |-- @type: string (nullable = true)
 |-- conformsTo: string (nullable = true)
 |-- dataset: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- @type: string (nullable = true)
 |    |    |-- accessLevel: string (nullable = true)
 |    |    |-- accrualPeriodicity: string (nullable = true)
 |    |    |-- bureauCode: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- contactPoint: struct (nullable = true)
 |    |    |    |-- fn: string (nullable = true)
 |    |    |    |-- hasEmail: string (nullable = true)
 |    |    |-- describedBy: string (nullable = true)
 |    |    |-- description: string (nullable = true)
 |    |    |-- distribution: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- @type: string (nullable = true)
 |    |    |    |    |-- accessURL: string (nullable = true)
 |    |    |    |    |-- description: string (nullable = true)
 |    |    |    |    |-- downloadURL: string (nullable = true)
 |    |    |    |    |-- format: string (nullable = true)
 |    |    |    |    |-- mediaType: string (nullable = true)
 |    |    |    |    |-- title: string (nullable = true)
 |    |    |-- identifier: string (nullable = true)
 |    |    |-- issued: string (nullable = true)
 |    |    |-- keyword: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- landingPage: string (nullable = true)
 |    |    |-- modified: string (nullable = true)
 |    |    |-- programCode: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- publisher: struct (nullable = true)
 |    |    |    |-- @type: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |-- spatial: string (nullable = true)
 |    |    |-- temporal: string (nullable = true)
 |    |    |-- title: string (nullable = true)
 |-- describedBy: string (nullable = true)

In [23]:
#updatedDF = df.withColumn("dataset",explode("dataset")).drop("@context","@id","@type","conformsTo","describedBy")
#df.select(col("dataset"),col("dataset.@type"),col("dataset.accessLevel")).show()
#df.select("dataset","dataset.@type","dataset.accessLevel").show()
updatedDF = df.withColumn("dataset",explode(col("dataset"))).select("@context","@id","conformsTo","dataset.@type","dataset.accesslevel","dataset.accrualPeriodicity","dataset.bureauCode","dataset.contactPoint.fn","dataset.distribution.@type","describedBy")
updatedDF.show()

df_sel=df_emp_dep.select('job_name','salary').groupby('job_name').agg(avg('salary').alias('Salary'))

df_emp_dep=df_emp.join(df_dep,df_emp.dep_id==df_dep.dep_id,"inner")

+--------------------+--------------------+--------------------+------------+-----------+------------------+----------+--------------------+--------------------+--------------------+
|            @context|                 @id|          conformsTo|       @type|accesslevel|accrualPeriodicity|bureauCode|                  fn|               @type|         describedBy|
+--------------------+--------------------+--------------------+------------+-----------+------------------+----------+--------------------+--------------------+--------------------+
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|     Marine Scotland|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|Marine Scotland S...|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|     Marine Scotland|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|               admin| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|     Marine Scotland|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|     Marine Scotland|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|     Marine Scotland|[dcat:Distributio...|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|     Marine Scotland| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|     Marine Scotland| [dcat:Distribution]|https://project-o...|
|https://project-o...|http://data.marin...|https://project-o...|dcat:Dataset|     public|              null|  [000:00]|    Marine Scotland | [dcat:Distribution]|https://project-o...|
+--------------------+--------------------+--------------------+------------+-----------+------------------+----------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
# import pyspark.sql.functions as F

# result = df.groupBy("department") \
#     .agg(F.max(F.struct("salary", "employee")).alias("max")) \
#     .selectExpr("max.employee", "department", "max.salary as highest_salary")

# result.show()

In [15]:
df_csv= spark.read.option("recursiveFilelookup","True").options(header='True').csv("datasets/bank.csv")
df_csv.show(truncate=False)

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|job        |marital |education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|59 |admin.     |married |secondary|no     |2343   |yes    |no  |unknown|5  |may  |1042    |1       |-1   |0       |unknown |yes    |
|56 |admin.     |married |secondary|no     |45     |no     |no  |unknown|5  |may  |1467    |1       |-1   |0       |unknown |yes    |
|41 |technician |married |secondary|no     |1270   |yes    |no  |unknown|5  |may  |1389    |1       |-1   |0       |unknown |yes    |
|55 |services   |married |secondary|no     |2476   |yes    |no  |unknown|5  |may  |579     |1       |-1   |0       |unknown |yes    |
|54 |admin.     |married |tertiary |no     |184    |no     |no  |unknown|5  |may  |673     |2       |-1   |0       |unknown |yes    |
|42 |management |single  |tertiary |no     |0      |yes    |yes |unknown|5  |may  |562     |2       |-1   |0       |unknown |yes    |
|56 |management |married |tertiary |no     |830    |yes    |yes |unknown|6  |may  |1201    |1       |-1   |0       |unknown |yes    |
|60 |retired    |divorced|secondary|no     |545    |yes    |no  |unknown|6  |may  |1030    |1       |-1   |0       |unknown |yes    |
|37 |technician |married |secondary|no     |1      |yes    |no  |unknown|6  |may  |608     |1       |-1   |0       |unknown |yes    |
|28 |services   |single  |secondary|no     |5090   |yes    |no  |unknown|6  |may  |1297    |3       |-1   |0       |unknown |yes    |
|38 |admin.     |single  |secondary|no     |100    |yes    |no  |unknown|7  |may  |786     |1       |-1   |0       |unknown |yes    |
|30 |blue-collar|married |secondary|no     |309    |yes    |no  |unknown|7  |may  |1574    |2       |-1   |0       |unknown |yes    |
|29 |management |married |tertiary |no     |199    |yes    |yes |unknown|7  |may  |1689    |4       |-1   |0       |unknown |yes    |
|46 |blue-collar|single  |tertiary |no     |460    |yes    |no  |unknown|7  |may  |1102    |2       |-1   |0       |unknown |yes    |
|31 |technician |single  |tertiary |no     |703    |yes    |no  |unknown|8  |may  |943     |2       |-1   |0       |unknown |yes    |
|35 |management |divorced|tertiary |no     |3837   |yes    |no  |unknown|8  |may  |1084    |1       |-1   |0       |unknown |yes    |
|32 |blue-collar|single  |primary  |no     |611    |yes    |no  |unknown|8  |may  |541     |3       |-1   |0       |unknown |yes    |
|49 |services   |married |secondary|no     |-8     |yes    |no  |unknown|8  |may  |1119    |1       |-1   |0       |unknown |yes    |
|41 |admin.     |married |secondary|no     |55     |yes    |no  |unknown|8  |may  |1120    |2       |-1   |0       |unknown |yes    |
|49 |admin.     |divorced|secondary|no     |168    |yes    |yes |unknown|8  |may  |513     |1       |-1   |0       |unknown |yes    |
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [16]:
df_emp=spark.read.options(header='True').csv('datasets/employee/emp.csv')
df_dep=spark.read.options(header='True').csv('datasets/employee/dept.csv')

df_emp_dep=df_emp.join(df_dep,df_emp.dep_id==df_dep.dep_id,"inner")
df_emp_dep.show()

+------+--------+---------+----------+----------+-------+------+------+---------+
|emp_id|emp_name| job_name|manager_id| hire_date| salary|dep_id|dep_id| dep_name|
+------+--------+---------+----------+----------+-------+------+------+---------+
| 68319| KAYLING|PRESIDENT|          |1991-11-18|6000.00|  1001|  1001|Developer|
| 68319| KAYLING|PRESIDENT|          |1991-11-18|6000.00|  1001|  1001|    CIVIL|
| 68319| KAYLING|PRESIDENT|          |1991-11-18|6000.00|  1001|  1001|    Admin|
| 68319| KAYLING|PRESIDENT|          |1991-11-18|6000.00|  1001|  1001|       IT|
| 66928|   BLAZE|  MANAGER|     68319|1991-05-01|2750.00|  3001|  3001|Developer|
| 66928|   BLAZE|  MANAGER|     68319|1991-05-01|2750.00|  3001|  3001|    Admin|
| 66928|   BLAZE|  MANAGER|     68319|1991-05-01|2750.00|  3001|  3001|       IT|
| 66928|   BLAZE|  MANAGER|     68319|1991-05-01|2750.00|  3001|  3001|       IT|
| 66928|   BLAZE|  MANAGER|     68319|1991-05-01|2750.00|  3001|  3001|Developer|
| 67832|   CLARE|  MANAGER|     68319|1991-06-09|2550.00|  1001|  1001|Developer|
| 67832|   CLARE|  MANAGER|     68319|1991-06-09|2550.00|  1001|  1001|    CIVIL|
| 67832|   CLARE|  MANAGER|     68319|1991-06-09|2550.00|  1001|  1001|    Admin|
| 67832|   CLARE|  MANAGER|     68319|1991-06-09|2550.00|  1001|  1001|       IT|
| 65646|   JONAS|  MANAGER|     68319|1991-04-02|2957.00|  2001|  2001|  Network|
| 65646|   JONAS|  MANAGER|     68319|1991-04-02|2957.00|  2001|  2001|Developer|
| 65646|   JONAS|  MANAGER|     68319|1991-04-02|2957.00|  2001|  2001|  Testing|
| 65646|   JONAS|  MANAGER|     68319|1991-04-02|2957.00|  2001|  2001| DataBase|
| 65646|   JONAS|  MANAGER|     68319|1991-04-02|2957.00|  2001|  2001|  Network|
| 67858| SCARLET|  ANALYST|     65646|1997-04-19|3100.00|  2001|  2001|  Network|
| 67858| SCARLET|  ANALYST|     65646|1997-04-19|3100.00|  2001|  2001|Developer|
+------+--------+---------+----------+----------+-------+------+------+---------+
only showing top 20 rows

In [17]:
df_emp_dep.createOrReplaceTempView('test')

df_ans=spark.sql("select emp_id,emp_name,dep_name, salary from "+" (select *, row_number() OVER (PARTITION BY dep_name ORDER BY salary DESC) as rn "+" FROM test) tmp where rn = 1")
df_ans.show()

+------+--------+---------+-------+
|emp_id|emp_name| dep_name| salary|
+------+--------+---------+-------+
| 68319| KAYLING|    Admin|6000.00|
| 68319| KAYLING|    CIVIL|6000.00|
| 63679|SANDRINE| DataBase| 900.00|
| 63679|SANDRINE|Developer| 900.00|
| 68319| KAYLING|       IT|6000.00|
| 63679|SANDRINE|  Network| 900.00|
| 63679|SANDRINE|  Testing| 900.00|
+------+--------+---------+-------+

In [18]:
df_sel=df_emp_dep.select('job_name','salary').groupby('job_name').agg(avg('salary').alias('Salary'))
df_sel.show()

+---------+------------------+
| job_name|            Salary|
+---------+------------------+
|  ANALYST|            3100.0|
| SALESMAN|            1500.0|
|    CLERK|1123.6842105263158|
|  MANAGER| 2766.785714285714|
|PRESIDENT|            6000.0|
+---------+------------------+

In [19]:
rdd=spark.sparkContext.parallelize((0,20))
print(str(rdd.getNumPartitions()))
rr=spark.range(0,20)
print(str(rr.rdd.getNumPartitions()))

8
8

In [20]:
rdd1=rdd.repartition(4)
print(str(rdd1.getNumPartitions()))

4

In [21]:
rdd2=rdd1.coalesce(2)
print(str(rdd2.getNumPartitions()))

2

In [22]:
columns = ["language","users_count"]
data = [("Java", "20000"), ("Python", "100000"), ("Scala", "3000")]

In [20]:
rdd = spark.sparkContext.parallelize(data)
dfFromData2 = spark.createDataFrame(data).toDF(*columns)
print(dfFromData2)

DataFrame[language: string, users_count: string]

In [21]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType 
schema=StructType([StructField('Course',StringType(),True),
                   StructField('fee',StringType(),True)])
df=spark.createDataFrame(data=data,schema=schema)

In [22]:
df.printSchema()

root
 |-- Course: string (nullable = true)
 |-- fee: string (nullable = true)

In [23]:
dfpd=df.toPandas()

In [24]:
#nested struct 

dataStruct = [(("James","","Smith"),"36636","M",3000), \
      (("Michael","Rose",""),"40288","M",4000), \
      (("Robert","","Williams"),"42114","M",4000), \
      (("Maria","Anne","Jones"),"39192","F",4000), \
      (("Jen","Mary","Brown"),"","F",-1)]

In [25]:
schemaStruct=StructType([StructField('name',StructType([StructField('FirstName',StringType(),True),
                                                      StructField('MiddleName',StringType(),True),
                                                      StructField('LastName',StringType(),True)
                                                       ])),
                                                        StructField('id',StringType(),True),
                                                        StructField('gender',StringType(),True),
                                                        StructField('salary',IntegerType(),True)])

In [26]:
df1=spark.createDataFrame(data=dataStruct,schema=schemaStruct)

In [27]:
df1.printSchema()

df1.show(truncate=False)

root
 |-- name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- MiddleName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+--------------------+-----+------+------+
|name                |id   |gender|salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3000  |
|{Michael, Rose, }   |40288|M     |4000  |
|{Robert, , Williams}|42114|M     |4000  |
|{Maria, Anne, Jones}|39192|F     |4000  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [28]:
# from pyspark import SparkContext, SparkConf

# conf = SparkConf().setAppName("ABBC").setMaster("local[*]")
# sc = SparkContext(conf=conf)

# rddd=spark.sparkContext.parallelize(range(10))
# rddd.collect()

In [29]:
rddd=spark.sparkContext.parallelize(range(10),4)
rddd.glom().collect()

[[0, 1], [2, 3, 4], [5, 6], [7, 8, 9]]

In [30]:
rdd1=rddd.repartition(2)
rdd1.glom().collect()

[[0, 1, 5, 6, 7, 8, 9], [2, 3, 4]]

In [ ]:
rdd2=rddd.coalesce(2)
rdd2.glom().collect()

In [ ]:
df1=df_emp.repartition(4).withColumn('partition_id',spark_partition_id())
df1.show()

In [ ]:
df2=df_emp.coalesce(2).withColumn('partition_id',spark_partition_id())
df2.show()

In [3]:
from datetime import datetime,timedelta
dfa=spark.read.csv("datasets/media.csv",header=True)
dfa.show()

NameError: name 'spark' is not defined

In [2]:
df1=dfa.where((df.appid=='netflix') | (df.appid=='youtube')).select(datetime.now()>=dfa.date(timedelta.days==7))
df1.show()

NameError: name 'dfa' is not defined

In [34]:
last_week = (datetime.now()- timedelta(days=7))
new_df = dfa.where(col("date") >= current_date() - expr("INTERVAL 7 days"))

In [35]:
new_df.show()

+-----+-----+----+
|actid|appid|date|
+-----+-----+----+
+-----+-----+----+

In [36]:
structureData = [
    (("James","","Smith"),"36636","M",3100),
    (("Michael","Rose",""),"40288","M",4300),
    (("Robert","","Williams"),"42114","M",1400),
    (("Maria","Anne","Jones"),"39192","F",5500),
    (("Jen","Mary","Brown"),"","F",-1)
  ]
structureSchema = StructType([
        StructField('name', StructType([
             StructField('firstname', StringType(), True),
             StructField('middlename', StringType(), True),
             StructField('lastname', StringType(), True)
             ])),
         StructField('id', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
         ])

df2 = spark.createDataFrame(data=structureData,schema=structureSchema)
df2.show(truncate=False)

+--------------------+-----+------+------+
|name                |id   |gender|salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3100  |
|{Michael, Rose, }   |40288|M     |4300  |
|{Robert, , Williams}|42114|M     |1400  |
|{Maria, Anne, Jones}|39192|F     |5500  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [37]:
update=df2.withColumn("otherinfo",struct(col('id').alias("identifierid"),
                                          col('gender').alias("gender"),
                                           col('salary').alias("salarynew"),
                                        when(col('salary').cast(IntegerType())<2000,"Low")
                                        .when(col('salary').cast(IntegerType())<4000,"medium")
                                        )).drop("id","gender","salary")

In [38]:
update.show(truncate=False)

+--------------------+------------------------+
|name                |otherinfo               |
+--------------------+------------------------+
|{James, , Smith}    |{36636, M, 3100, medium}|
|{Michael, Rose, }   |{40288, M, 4300, null}  |
|{Robert, , Williams}|{42114, M, 1400, Low}   |
|{Maria, Anne, Jones}|{39192, F, 5500, null}  |
|{Jen, Mary, Brown}  |{, F, -1, Low}          |
+--------------------+------------------------+

In [39]:
data = [
        (("James",None,"Smith"),"OH","M"),
        (("Anna","Rose",""),"NY","F"),
        (("Julia","","Williams"),"OH","F"),
        (("Maria","Anne","Jones"),"NY","M"),
        (("Jen","Mary","Brown"),"NY","M"),
        (("Mike","Mary","Williams"),"OH","M")
        ]

In [ ]:
schema=StructType([StructField("name",StructType([StructField("FirstName",StringType(),True),
                                     StructField("middlename",StringType(),True),
                                     StructField("LastName",StringType(),True)])),
                          StructField("City",StringType(),True),
                          StructField("Gender",StringType(),True)])

In [ ]:
df2 = spark.createDataFrame(data = data, schema = schema)

In [ ]:
df2.select("name.*").show(truncate=False)

In [ ]:
df2.show()

In [ ]:
df3=df2.withColumn("new_gender",when(df2.Gender=="M","Male")
                                .when(df2.Gender=="F","Female")
                                .when(df2.Gender.isNull(),"")
                                 .otherwise(df2.Gender))
df3.show()

In [ ]:
df2.select("*").show()

In [ ]:
df2.select(df2.columns[:2]).show()

In [ ]:
df2.select(col("name.firstname"),col("name.lastname")).show()

In [ ]:
df2.withColumn("name.firstname",lit(5)).withColumn("name.lastname",lit(5)).show()

In [ ]:
df2.withColumn("Country", lit("USA")).show()

In [ ]:
df2.withColumnRenamed("gender","sex").show()

In [ ]:
from datetime import datetime,timedelta
df=spark.read.csv("datasets/media.csv",header=True)
df.show()

In [58]:
df_json=spark.read.json(['datasets/zipcode1.json','datasets/zipcode2.json'])
df_json.show(truncate=False)

+-------------------+-------+-------------+-----+----------------------------+-----------------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|City               |Country|Decommisioned|Lat  |Location                    |LocationText           |LocationType  |Long  |RecordNumber|State|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-----+----------------------------+-----------------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|PASEO COSTA DEL SUR|US     |false        |17.96|NA-US-PR-PASEO COSTA DEL SUR|Paseo Costa Del Sur, PR|NOT ACCEPTABLE|-66.22|2           |PR   |NA         |0.38 |-0.87|0.3  |STANDARD   |704    |
|BDA SAN LUIS       |US     |false        |18.14|NA-US-PR-BDA SAN LUIS       |Bda San Luis, PR       |NOT ACCEPTABLE|-66.26|10          |PR   |NA         |0.38 |-0.86|0.31 |STANDARD   |709    |
|PARC PARQUE        |US     |false        |17.96|NA-US-PR-PARC PARQUE        |Parc Parque, PR        |NOT ACCEPTABLE|-66.22|1           |PR   |NA         |0.38 |-0.87|0.3  |STANDARD   |704    |
+-------------------+-------+-------------+-----+----------------------------+-----------------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+

In [59]:
schema = StructType([
      StructField("RecordNumber",IntegerType(),True),
      StructField("Zipcode",IntegerType(),True),
      StructField("ZipCodeType",StringType(),True),
      StructField("City",StringType(),True),
      StructField("State",StringType(),True),
      StructField("LocationType",StringType(),True),
      StructField("Lat",DoubleType(),True),
      StructField("Long",DoubleType(),True),
      StructField("Xaxis",IntegerType(),True),
      StructField("Yaxis",DoubleType(),True),
      StructField("Zaxis",DoubleType(),True),
      StructField("WorldRegion",StringType(),True),
      StructField("Country",StringType(),True),
      StructField("LocationText",StringType(),True),
      StructField("Location",StringType(),True),
      StructField("Decommisioned",BooleanType(),True),
      StructField("TaxReturnsFiled",StringType(),True),
      StructField("EstimatedPopulation",IntegerType(),True),
      StructField("TotalWages",IntegerType(),True),
      StructField("Notes",StringType(),True)
  ])

In [60]:
df_with_schema = spark.read.schema(schema) \
        .json("datasets/zipcodes.json")

In [61]:
df_with_schema.show()

+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|RecordNumber|Zipcode|ZipCodeType|               City|State|  LocationType|  Lat|   Long|Xaxis|Yaxis|Zaxis|WorldRegion|Country|        LocationText|            Location|Decommisioned|TaxReturnsFiled|EstimatedPopulation|TotalWages|        Notes|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
|           1|    704|   STANDARD|        PARC PARQUE|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US|     Parc Parque, PR|NA-US-PR-PARC PARQUE|        false|           null|               null|      null|         null|
|           2|    704|   STANDARD|PASEO COSTA DEL SUR|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US|Paseo Costa Del S...|NA-US-PR-PASEO CO...|        false|           null|               null|      null|         null|
|          10|    709|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| null|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|         null|
|       61391|  76166|     UNIQUE|  CINGULAR WIRELESS|   TX|NOT ACCEPTABLE|32.72| -97.31| null|-0.83| 0.54|         NA|     US|Cingular Wireless...|NA-US-TX-CINGULAR...|        false|           null|               null|      null|         null|
|       61392|  76177|   STANDARD|         FORT WORTH|   TX|       PRIMARY|32.75| -97.33| null|-0.83| 0.54|         NA|     US|      Fort Worth, TX| NA-US-TX-FORT WORTH|        false|           2126|               4053| 122396986|         null|
|       61393|  76177|   STANDARD|           FT WORTH|   TX|    ACCEPTABLE|32.75| -97.33| null|-0.83| 0.54|         NA|     US|        Ft Worth, TX|   NA-US-TX-FT WORTH|        false|           2126|               4053| 122396986|         null|
|           4|    704|   STANDARD|    URB EUGENE RICE|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US| Urb Eugene Rice, PR|NA-US-PR-URB EUGE...|        false|           null|               null|      null|         null|
|       39827|  85209|   STANDARD|               MESA|   AZ|       PRIMARY|33.37|-111.64| null|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14962|              26883| 563792730|no NWS data, |
|       39828|  85210|   STANDARD|               MESA|   AZ|       PRIMARY|33.38|-111.84| null|-0.77| 0.55|         NA|     US|            Mesa, AZ|       NA-US-AZ-MESA|        false|          14374|              25446| 471000465|         null|
|       49345|  32046|   STANDARD|           HILLIARD|   FL|       PRIMARY|30.69| -81.92| null|-0.85| 0.51|         NA|     US|        Hilliard, FL|   NA-US-FL-HILLIARD|        false|           3922|               7443| 133112149|         null|
|       49346|  34445|     PO BOX|             HOLDER|   FL|       PRIMARY|28.96| -82.41| null|-0.86| 0.48|         NA|     US|          Holder, FL|     NA-US-FL-HOLDER|        false|           null|               null|      null|         null|
|       49347|  32564|   STANDARD|               HOLT|   FL|       PRIMARY|30.72| -86.67| null|-0.85| 0.51|         NA|     US|            Holt, FL|       NA-US-FL-HOLT|        false|           1207|               2190|  36395913|         null|
|       49348|  34487|     PO BOX|          HOMOSASSA|   FL|       PRIMARY|28.78| -82.61| null|-0.86| 0.48|         NA|     US|       Homosassa, FL|  NA-US-FL-HOMOSASSA|        false|           null|               null|      null|         null|
|          10|    708|   STANDARD|       BDA SAN LUIS|   PR|NOT ACCEPTABLE|18.14| -66.26| null|-0.86| 0.31|         NA|     US|    Bda San Luis, PR|NA-US-PR-BDA SAN ...|        false|           null|               null|      null|         null|
|           3|    704|   STANDARD|      SECT LANAUSSE|   PR|NOT ACCEPTABLE|17.96| -66.22| null|-0.87|  0.3|         NA|     US|   Sect Lanausse, PR|NA-US-PR-SECT LAN...|        false|           null|               null|      null|         null|
|       54354|  36275|     PO BOX|      SPRING GARDEN|   AL|       PRIMARY|33.97| -85.55| null|-0.82| 0.55|         NA|     US|   Spring Garden, AL|NA-US-AL-SPRING G...|        false|           null|               null|      null|         null|
|       54355|  35146|   STANDARD|        SPRINGVILLE|   AL|       PRIMARY|33.77| -86.47| null|-0.82| 0.55|         NA|     US|     Springville, AL|NA-US-AL-SPRINGVILLE|        false|           4046|               7845| 172127599|         null|
|       54356|  35585|   STANDARD|        SPRUCE PINE|   AL|       PRIMARY|34.37| -87.69| null|-0.82| 0.56|         NA|     US|     Spruce Pine, AL|NA-US-AL-SPRUCE PINE|        false|            610|               1209|  18525517|         null|
|       76511|  27007|   STANDARD|           ASH HILL|   NC|NOT ACCEPTABLE| 36.4| -80.56| null|-0.79| 0.59|         NA|     US|        Ash Hill, NC|   NA-US-NC-ASH HILL|        false|            842|               1666|  28876493|         null|
|       76512|  27203|   STANDARD|           ASHEBORO|   NC|       PRIMARY|35.71| -79.81| null|-0.79| 0.58|         NA|     US|        Asheboro, NC|   NA-US-NC-ASHEBORO|        false|           8355|              15228| 215474318|         null|
+------------+-------+-----------+-------------------+-----+--------------+-----+-------+-----+-----+-----+-----------+-------+--------------------+--------------------+-------------+---------------+-------------------+----------+-------------+
only showing top 20 rows

In [62]:
df_csv=df_csv.sort(col('education'))
df_csv.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 41| blue-collar|  single|  primary|     no|   1618|    yes|  no|unknown| 14|  may|    1553|       1|   -1|       0| unknown|    yes|
| 30|entrepreneur|  single|  primary|     no|      0|    yes| yes|unknown| 27|  may|    1051|       1|   -1|       0| unknown|    yes|
| 60|     retired| married|  primary|     no|   1542|    yes|  no|unknown| 14|  may|     930|       1|   -1|       0| unknown|    yes|
| 48| blue-collar|divorced|  primary|     no|     24|    yes|  no|unknown| 14|  may|     832|       1|   -1|       0| unknown|    yes|
| 52| blue-collar|divorced|  primary|     no|   -191|    yes|  no|unknown| 15|  may|     755|       1|   -1|       0| unknown|    yes|
| 60|  technician| married|  primary|     no|     65|    yes|  no|unknown|  9|  may|    1028|       2|   -1|       0| unknown|    yes|
| 59| blue-collar| married|  primary|     no|    320|    yes|  no|unknown| 15|  may|     695|       1|   -1|       0| unknown|    yes|
| 35| blue-collar| married|  primary|     no|    414|     no|  no|unknown| 13|  may|     504|       4|   -1|       0| unknown|    yes|
| 49|     unknown| married|  primary|     no|    341|    yes| yes|unknown| 15|  may|     520|       2|   -1|       0| unknown|    yes|
| 60| blue-collar| married|  primary|     no|   1262|    yes| yes|unknown| 13|  may|    1015|       1|   -1|       0| unknown|    yes|
| 40|    services| married|  primary|     no|     -9|    yes|  no|unknown| 15|  may|     920|       2|   -1|       0| unknown|    yes|
| 53|  technician|divorced|  primary|     no|   1443|    yes|  no|unknown| 14|  may|     476|       1|   -1|       0| unknown|    yes|
| 41|      admin.| married|  primary|     no|   -306|    yes|  no|unknown| 15|  may|     500|       1|   -1|       0| unknown|    yes|
| 35| blue-collar| married|  primary|     no|    102|    yes|  no|unknown| 20|  may|    1334|       1|   -1|       0| unknown|    yes|
| 40| blue-collar| married|  primary|     no|    278|    yes|  no|unknown| 23|  may|    1015|       3|   -1|       0| unknown|    yes|
| 36| blue-collar| married|  primary|     no|    408|    yes| yes|unknown| 20|  may|    1063|       2|   -1|       0| unknown|    yes|
| 32| blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 41| blue-collar| married|  primary|     no|   1250|    yes|  no|unknown| 20|  may|    1392|       2|   -1|       0| unknown|    yes|
| 23|entrepreneur|  single|  primary|     no|      4|    yes|  no|unknown| 13|  may|     395|       2|   -1|       0| unknown|    yes|
| 31| blue-collar|  single|  primary|     no|    216|    yes|  no|unknown| 21|  may|     565|       1|   -1|       0| unknown|    yes|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [63]:
df_csv=df_csv.orderBy(col('month').asc(),col('education').asc())
df_csv.show()

+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 68|    retired|divorced|  primary|     no|    695|     no|  no| cellular|  9|  apr|     233|       1|   -1|       0| unknown|    yes|
| 41|blue-collar|divorced|  primary|     no|    285|    yes|  no| cellular| 20|  apr|    1272|       2|   -1|       0| unknown|    yes|
| 42|blue-collar| married|  primary|     no|   2103|    yes|  no| cellular| 13|  apr|     384|       2|   -1|       0| unknown|    yes|
| 21|    student|  single|  primary|     no|    423|     no|  no| cellular|  8|  apr|     104|       5|   -1|       0| unknown|    yes|
| 41|  housemaid| married|  primary|     no|      0|     no|  no| cellular| 14|  apr|     168|       1|   -1|       0| unknown|    yes|
| 34|blue-collar| married|  primary|     no|    329|    yes|  no| cellular| 17|  apr|     952|       1|  343|       1| failure|    yes|
| 73|    retired| married|  primary|     no|    253|     no|  no| cellular| 20|  apr|     345|       1|   -1|       0| unknown|    yes|
| 37|blue-collar| married|  primary|     no|   3154|    yes|  no| cellular| 17|  apr|     404|       1|  305|       3| failure|    yes|
| 43|   services| married|  primary|     no|   2557|    yes|  no|telephone| 15|  apr|     165|       2|  327|       3| failure|    yes|
| 40| technician| married|  primary|     no|    284|    yes|  no| cellular| 20|  apr|    1332|       2|   -1|       0| unknown|    yes|
| 57|   services| married|  primary|     no|    491|    yes|  no| cellular| 15|  apr|    1217|       3|   -1|       0| unknown|    yes|
| 46| management| married|  primary|     no|   3229|    yes|  no| cellular| 20|  apr|    1550|       1|   -1|       0| unknown|    yes|
| 56|blue-collar| married|  primary|     no|   3498|     no|  no| cellular| 15|  apr|     264|       2|   -1|       0| unknown|    yes|
| 50|    unknown| married|  primary|     no|    341|    yes| yes| cellular| 20|  apr|     670|       4|  340|       2| success|    yes|
| 40|   services|divorced|  primary|     no|    471|    yes|  no| cellular| 16|  apr|    1156|       1|  345|       2| failure|    yes|
| 45|blue-collar| married|  primary|    yes|   -443|    yes| yes| cellular| 20|  apr|     691|       1|   -1|       0| unknown|    yes|
| 50|blue-collar| married|  primary|     no|   4979|     no|  no|telephone|  6|  apr|     180|       1|   -1|       0| unknown|    yes|
| 36|blue-collar| married|  primary|     no|   1925|    yes|  no| cellular| 20|  apr|     904|       2|   -1|       0| unknown|    yes|
| 76|  housemaid|divorced|  primary|     no|   1411|     no|  no|telephone| 15|  apr|     170|       3|   -1|       0| unknown|    yes|
| 78|    retired| married|  primary|     no|    240|     no|  no| cellular| 20|  apr|     325|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [64]:
df_csv=df_csv.withColumn('duration',col('duration').cast(IntegerType())).groupBy('job').sum('duration')
df_csv.show()

+-------------+-------------+
|          job|sum(duration)|
+-------------+-------------+
|   management|       927563|
|      retired|       303415|
|      unknown|        23126|
|self-employed|       160443|
|      student|       119042|
|  blue-collar|       767217|
| entrepreneur|       121420|
|       admin.|       464138|
|   technician|       663192|
|     services|       356237|
|    housemaid|        95447|
|   unemployed|       150955|
+-------------+-------------+

In [79]:
df_csv=df_csv.select(col('job'),col('duration').cast(IntegerType())).groupBy('job').max('duration').alias("sum_salary")
df_csv.show()

AnalysisException: Column 'duration' does not exist. Did you mean one of the following? [sum_salary.job, sum_salary.min(duration)];
'Project [job#2306, unresolvedalias(cast('duration as int), None)]
+- SubqueryAlias sum_salary
   +- Aggregate [job#2306], [job#2306, min(duration#2436) AS min(duration)#2442]
      +- Project [job#2306, cast(duration#2316 as int) AS duration#2436]
         +- Relation [age#2305,job#2306,marital#2307,education#2308,default#2309,balance#2310,housing#2311,loan#2312,contact#2313,day#2314,month#2315,duration#2316,campaign#2317,pdays#2318,previous#2319,poutcome#2320,deposit#2321] csv

In [93]:
df_csv=df_csv.select(col('job'),col('duration').cast(IntegerType())).groupBy('job').min('duration')
df_csv.show()

+-------------+-------------+
|          job|min(duration)|
+-------------+-------------+
|   management|            4|
|      retired|            8|
|      unknown|            8|
|self-employed|            6|
|      student|            8|
|  blue-collar|            2|
| entrepreneur|            7|
|       admin.|            7|
|   technician|            5|
|     services|            7|
|    housemaid|           10|
|   unemployed|            4|
+-------------+-------------+

In [105]:
df_csv=df_csv.withColumn('duration',col('duration').alias('duration').cast(IntegerType())).groupBy('job').min('duration')
df_csv.show()

+-------------+-------------+
|          job|min(duration)|
+-------------+-------------+
|   management|            4|
|      retired|            8|
|      unknown|            8|
|self-employed|            6|
|      student|            8|
|  blue-collar|            2|
| entrepreneur|            7|
|       admin.|            7|
|   technician|            5|
|     services|            7|
|    housemaid|           10|
|   unemployed|            4|
+-------------+-------------+

In [38]:
# df_union=df_emp.unionAll(df_dep)
# df_union.show(truncate=False)

# df_union=df_emp.union(df_dep)
# df_union.show(truncate=False)

# df_union=df_emp.union(df_dep).distinct()
# df_union.show(truncate=False)

In [24]:
df_union=df_emp.unionByName(df_dep,allowMissingColumns=True).distinct()
df_union.show(truncate=False)

+------+--------+---------+----------+----------+-------+------+---------+
|emp_id|emp_name|job_name |manager_id|hire_date |salary |dep_id|dep_name |
+------+--------+---------+----------+----------+-------+------+---------+
|67832 |CLARE   |MANAGER  |68319     |1991-06-09|2550.00|1001  |null     |
|65271 |WADE    |SALESMAN |66928     |1991-02-22|1350.00|3001  |null     |
|67858 |SCARLET |ANALYST  |65646     |1997-04-19|3100.00|2001  |null     |
|68454 |TUCKER  |SALESMAN |66928     |1991-09-08|1600.00|3001  |null     |
|69062 |FRANK   |ANALYST  |65646     |1991-12-03|3100.00|2001  |null     |
|69324 |MARKER  |CLERK    |67832     |1992-01-23|1400.00|1001  |null     |
|63679 |SANDRINE|CLERK    |69062     |1990-12-18|900.00 |2001  |null     |
|66564 |MADDEN  |SALESMAN |66928     |1991-09-28|1350.00|3001  |null     |
|68319 |KAYLING |PRESIDENT|          |1991-11-18|6000.00|1001  |null     |
|66928 |BLAZE   |MANAGER  |68319     |1991-05-01|2750.00|3001  |null     |
|69000 |JULIUS  |CLERK    |66928     |1991-12-03|1050.00|3001  |null     |
|64989 |ADELYN  |SALESMAN |66928     |1991-02-20|1700.00|3001  |null     |
|65646 |JONAS   |MANAGER  |68319     |1991-04-02|2957.00|2001  |null     |
|68736 |ADNRES  |CLERK    |67858     |1997-05-23|1200.00|2001  |null     |
|null  |null    |null     |null      |null      |null   |2001  |Developer|
|null  |null    |null     |null      |null      |null   |2001  |DataBase |
|null  |null    |null     |null      |null      |null   |1001  |Admin    |
|null  |null    |null     |null      |null      |null   |2001  |Network  |
|null  |null    |null     |null      |null      |null   |1001  |Developer|
|null  |null    |null     |null      |null      |null   |1001  |IT       |
+------+--------+---------+----------+----------+-------+------+---------+
only showing top 20 rows

In [21]:
windowspec=Window.partitionBy('job_name').orderBy(col('salary').asc())

df_emp_row=df_emp.withColumn('row_number',row_number().over(windowspec))
a=df_emp_row.select('job_name','salary').filter(df_emp_row.salary>3000)
a.show()

+---------+-------+
| job_name| salary|
+---------+-------+
|PRESIDENT|6000.00|
|  ANALYST|3100.00|
|  ANALYST|3100.00|
+---------+-------+

In [27]:
df_emp_rank=df_emp.withColumn('rank',rank().over(windowspec))
df_emp_rank.show(truncate=False)

+------+--------+---------+----------+----------+-------+------+----+
|emp_id|emp_name|job_name |manager_id|hire_date |salary |dep_id|rank|
+------+--------+---------+----------+----------+-------+------+----+
|67858 |SCARLET |ANALYST  |65646     |1997-04-19|3100.00|2001  |1   |
|69062 |FRANK   |ANALYST  |65646     |1991-12-03|3100.00|2001  |1   |
|69000 |JULIUS  |CLERK    |66928     |1991-12-03|1050.00|3001  |1   |
|68736 |ADNRES  |CLERK    |67858     |1997-05-23|1200.00|2001  |2   |
|69324 |MARKER  |CLERK    |67832     |1992-01-23|1400.00|1001  |3   |
|63679 |SANDRINE|CLERK    |69062     |1990-12-18|900.00 |2001  |4   |
|67832 |CLARE   |MANAGER  |68319     |1991-06-09|2550.00|1001  |1   |
|66928 |BLAZE   |MANAGER  |68319     |1991-05-01|2750.00|3001  |2   |
|65646 |JONAS   |MANAGER  |68319     |1991-04-02|2957.00|2001  |3   |
|68319 |KAYLING |PRESIDENT|          |1991-11-18|6000.00|1001  |1   |
|65271 |WADE    |SALESMAN |66928     |1991-02-22|1350.00|3001  |1   |
|66564 |MADDEN  |SALESMAN |66928     |1991-09-28|1350.00|3001  |1   |
|68454 |TUCKER  |SALESMAN |66928     |1991-09-08|1600.00|3001  |3   |
|64989 |ADELYN  |SALESMAN |66928     |1991-02-20|1700.00|3001  |4   |
+------+--------+---------+----------+----------+-------+------+----+

In [29]:
df_emp_denrank=df_emp.withColumn('denserank',dense_rank().over(windowspec))
df_emp_denrank.show(truncate=False)

+------+--------+---------+----------+----------+-------+------+---------+
|emp_id|emp_name|job_name |manager_id|hire_date |salary |dep_id|denserank|
+------+--------+---------+----------+----------+-------+------+---------+
|67858 |SCARLET |ANALYST  |65646     |1997-04-19|3100.00|2001  |1        |
|69062 |FRANK   |ANALYST  |65646     |1991-12-03|3100.00|2001  |1        |
|69000 |JULIUS  |CLERK    |66928     |1991-12-03|1050.00|3001  |1        |
|68736 |ADNRES  |CLERK    |67858     |1997-05-23|1200.00|2001  |2        |
|69324 |MARKER  |CLERK    |67832     |1992-01-23|1400.00|1001  |3        |
|63679 |SANDRINE|CLERK    |69062     |1990-12-18|900.00 |2001  |4        |
|67832 |CLARE   |MANAGER  |68319     |1991-06-09|2550.00|1001  |1        |
|66928 |BLAZE   |MANAGER  |68319     |1991-05-01|2750.00|3001  |2        |
|65646 |JONAS   |MANAGER  |68319     |1991-04-02|2957.00|2001  |3        |
|68319 |KAYLING |PRESIDENT|          |1991-11-18|6000.00|1001  |1        |
|65271 |WADE    |SALESMAN |66928     |1991-02-22|1350.00|3001  |1        |
|66564 |MADDEN  |SALESMAN |66928     |1991-09-28|1350.00|3001  |1        |
|68454 |TUCKER  |SALESMAN |66928     |1991-09-08|1600.00|3001  |2        |
|64989 |ADELYN  |SALESMAN |66928     |1991-02-20|1700.00|3001  |3        |
+------+--------+---------+----------+----------+-------+------+---------+

In [30]:
df_emp_lag=df_emp.withColumn('lag',lag('salary',1,0).over(windowspec))
df_emp_lag.show(truncate=False)

+------+--------+---------+----------+----------+-------+------+-------+
|emp_id|emp_name|job_name |manager_id|hire_date |salary |dep_id|lag    |
+------+--------+---------+----------+----------+-------+------+-------+
|67858 |SCARLET |ANALYST  |65646     |1997-04-19|3100.00|2001  |0      |
|69062 |FRANK   |ANALYST  |65646     |1991-12-03|3100.00|2001  |3100.00|
|69000 |JULIUS  |CLERK    |66928     |1991-12-03|1050.00|3001  |0      |
|68736 |ADNRES  |CLERK    |67858     |1997-05-23|1200.00|2001  |1050.00|
|69324 |MARKER  |CLERK    |67832     |1992-01-23|1400.00|1001  |1200.00|
|63679 |SANDRINE|CLERK    |69062     |1990-12-18|900.00 |2001  |1400.00|
|67832 |CLARE   |MANAGER  |68319     |1991-06-09|2550.00|1001  |0      |
|66928 |BLAZE   |MANAGER  |68319     |1991-05-01|2750.00|3001  |2550.00|
|65646 |JONAS   |MANAGER  |68319     |1991-04-02|2957.00|2001  |2750.00|
|68319 |KAYLING |PRESIDENT|          |1991-11-18|6000.00|1001  |0      |
|65271 |WADE    |SALESMAN |66928     |1991-02-22|1350.00|3001  |0      |
|66564 |MADDEN  |SALESMAN |66928     |1991-09-28|1350.00|3001  |1350.00|
|68454 |TUCKER  |SALESMAN |66928     |1991-09-08|1600.00|3001  |1350.00|
|64989 |ADELYN  |SALESMAN |66928     |1991-02-20|1700.00|3001  |1600.00|
+------+--------+---------+----------+----------+-------+------+-------+

In [31]:
df_emp_lead=df_emp.withColumn('lead',lead('salary',1,0).over(windowspec))
df_emp_lead.show(truncate=False)

+------+--------+---------+----------+----------+-------+------+-------+
|emp_id|emp_name|job_name |manager_id|hire_date |salary |dep_id|lead   |
+------+--------+---------+----------+----------+-------+------+-------+
|67858 |SCARLET |ANALYST  |65646     |1997-04-19|3100.00|2001  |3100.00|
|69062 |FRANK   |ANALYST  |65646     |1991-12-03|3100.00|2001  |0      |
|69000 |JULIUS  |CLERK    |66928     |1991-12-03|1050.00|3001  |1200.00|
|68736 |ADNRES  |CLERK    |67858     |1997-05-23|1200.00|2001  |1400.00|
|69324 |MARKER  |CLERK    |67832     |1992-01-23|1400.00|1001  |900.00 |
|63679 |SANDRINE|CLERK    |69062     |1990-12-18|900.00 |2001  |0      |
|67832 |CLARE   |MANAGER  |68319     |1991-06-09|2550.00|1001  |2750.00|
|66928 |BLAZE   |MANAGER  |68319     |1991-05-01|2750.00|3001  |2957.00|
|65646 |JONAS   |MANAGER  |68319     |1991-04-02|2957.00|2001  |0      |
|68319 |KAYLING |PRESIDENT|          |1991-11-18|6000.00|1001  |0      |
|65271 |WADE    |SALESMAN |66928     |1991-02-22|1350.00|3001  |1350.00|
|66564 |MADDEN  |SALESMAN |66928     |1991-09-28|1350.00|3001  |1600.00|
|68454 |TUCKER  |SALESMAN |66928     |1991-09-08|1600.00|3001  |1700.00|
|64989 |ADELYN  |SALESMAN |66928     |1991-02-20|1700.00|3001  |0      |
+------+--------+---------+----------+----------+-------+------+-------+

In [37]:
windowsp=Window.partitionBy('job_name').orderBy('salary')

df_emp_window_agg=df_emp.withColumn('row',row_number().over(windowsp))\
                        .withColumn('avg',avg(col('salary')).over(windowsp))\
                        .withColumn('sum',sum(col('salary')).over(windowsp))\
                        .withColumn('max',max(col('salary')).over(windowsp))\
                        .withColumn('min',min(col('salary')).over(windowsp))\
                        .where(col('row')==1).select('job_name','avg','sum','max','min')
df_emp_window_agg.show(truncate=False)

+---------+------+------+-------+-------+
|job_name |avg   |sum   |max    |min    |
+---------+------+------+-------+-------+
|ANALYST  |3100.0|6200.0|3100.00|3100.00|
|CLERK    |1050.0|1050.0|1050.00|1050.00|
|MANAGER  |2550.0|2550.0|2550.00|2550.00|
|PRESIDENT|6000.0|6000.0|6000.00|6000.00|
|SALESMAN |1350.0|2700.0|1350.00|1350.00|
+---------+------+------+-------+-------+

In [40]:
updatedDF = df.withColumn("dataset",explode(col("dataset"))).select("@context","@id","conformsTo","dataset.@type","dataset.accesslevel","dataset.accrualPeriodicity","dataset.bureauCode","dataset.contactPoint.fn","dataset.distribution.@type","describedBy")
updatedDF.show()

df_sel=df_emp_dep.select('job_name','salary').groupby('job_name').agg(avg('salary').alias('Salary'))

In [43]:
df_when=df_emp.withColumn('when',when(df_emp.job_name=='CLERK','clr')
                                 .when(df_emp.job_name=='SALESMAN','sman')    )
df_when.show(truncate=False)

+------+--------+---------+----------+----------+-------+------+----+
|emp_id|emp_name|job_name |manager_id|hire_date |salary |dep_id|when|
+------+--------+---------+----------+----------+-------+------+----+
|68319 |KAYLING |PRESIDENT|          |1991-11-18|6000.00|1001  |null|
|66928 |BLAZE   |MANAGER  |68319     |1991-05-01|2750.00|3001  |null|
|67832 |CLARE   |MANAGER  |68319     |1991-06-09|2550.00|1001  |null|
|65646 |JONAS   |MANAGER  |68319     |1991-04-02|2957.00|2001  |null|
|67858 |SCARLET |ANALYST  |65646     |1997-04-19|3100.00|2001  |null|
|69062 |FRANK   |ANALYST  |65646     |1991-12-03|3100.00|2001  |null|
|63679 |SANDRINE|CLERK    |69062     |1990-12-18|900.00 |2001  |clr |
|64989 |ADELYN  |SALESMAN |66928     |1991-02-20|1700.00|3001  |sman|
|65271 |WADE    |SALESMAN |66928     |1991-02-22|1350.00|3001  |sman|
|66564 |MADDEN  |SALESMAN |66928     |1991-09-28|1350.00|3001  |sman|
|68454 |TUCKER  |SALESMAN |66928     |1991-09-08|1600.00|3001  |sman|
|68736 |ADNRES  |CLERK    |67858     |1997-05-23|1200.00|2001  |clr |
|69000 |JULIUS  |CLERK    |66928     |1991-12-03|1050.00|3001  |clr |
|69324 |MARKER  |CLERK    |67832     |1992-01-23|1400.00|1001  |clr |
+------+--------+---------+----------+----------+-------+------+----+

In [45]:
df_lit=df_emp.select(col("job_name"),lit(1).alias("lit_values"))
df_lit.show(truncate=False)

+---------+----------+
|job_name |lit_values|
+---------+----------+
|PRESIDENT|1         |
|MANAGER  |1         |
|MANAGER  |1         |
|MANAGER  |1         |
|ANALYST  |1         |
|ANALYST  |1         |
|CLERK    |1         |
|SALESMAN |1         |
|SALESMAN |1         |
|SALESMAN |1         |
|SALESMAN |1         |
|CLERK    |1         |
|CLERK    |1         |
|CLERK    |1         |
+---------+----------+

In [50]:
df_split=df_emp.select(split(col('hire_date'),',').alias("split_date"))
df_split.show(truncate=False)

+------------+
|split_date  |
+------------+
|[1991-11-18]|
|[1991-05-01]|
|[1991-06-09]|
|[1991-04-02]|
|[1997-04-19]|
|[1991-12-03]|
|[1990-12-18]|
|[1991-02-20]|
|[1991-02-22]|
|[1991-09-28]|
|[1991-09-08]|
|[1997-05-23]|
|[1991-12-03]|
|[1992-01-23]|
+------------+

In [61]:
df_substring=df_emp.select(col('hire_date'),substring('hire_date',1,4).alias("year"),substring('hire_date',6,2).alias('month'),substring('hire_date',9,2).alias('day'))
df_substring.show(truncate=False)

+----------+----+-----+---+
|hire_date |year|month|day|
+----------+----+-----+---+
|1991-11-18|1991|11   |18 |
|1991-05-01|1991|05   |01 |
|1991-06-09|1991|06   |09 |
|1991-04-02|1991|04   |02 |
|1997-04-19|1997|04   |19 |
|1991-12-03|1991|12   |03 |
|1990-12-18|1990|12   |18 |
|1991-02-20|1991|02   |20 |
|1991-02-22|1991|02   |22 |
|1991-09-28|1991|09   |28 |
|1991-09-08|1991|09   |08 |
|1997-05-23|1997|05   |23 |
|1991-12-03|1991|12   |03 |
|1992-01-23|1992|01   |23 |
+----------+----+-----+---+

In [64]:
df_sort=df_emp.sort(col('job_name'))
df_sort.show()

+------+--------+---------+----------+----------+-------+------+
|emp_id|emp_name| job_name|manager_id| hire_date| salary|dep_id|
+------+--------+---------+----------+----------+-------+------+
| 69062|   FRANK|  ANALYST|     65646|1991-12-03|3100.00|  2001|
| 67858| SCARLET|  ANALYST|     65646|1997-04-19|3100.00|  2001|
| 68736|  ADNRES|    CLERK|     67858|1997-05-23|1200.00|  2001|
| 69000|  JULIUS|    CLERK|     66928|1991-12-03|1050.00|  3001|
| 63679|SANDRINE|    CLERK|     69062|1990-12-18| 900.00|  2001|
| 69324|  MARKER|    CLERK|     67832|1992-01-23|1400.00|  1001|
| 65646|   JONAS|  MANAGER|     68319|1991-04-02|2957.00|  2001|
| 66928|   BLAZE|  MANAGER|     68319|1991-05-01|2750.00|  3001|
| 67832|   CLARE|  MANAGER|     68319|1991-06-09|2550.00|  1001|
| 68319| KAYLING|PRESIDENT|          |1991-11-18|6000.00|  1001|
| 64989|  ADELYN| SALESMAN|     66928|1991-02-20|1700.00|  3001|
| 65271|    WADE| SALESMAN|     66928|1991-02-22|1350.00|  3001|
| 66564|  MADDEN| SALESMAN|     66928|1991-09-28|1350.00|  3001|
| 68454|  TUCKER| SALESMAN|     66928|1991-09-08|1600.00|  3001|
+------+--------+---------+----------+----------+-------+------+

In [1]:
def ProjectProAvg(x, y):
    return (x+y)/2.0;
avg = ProjectPrordd.reduce(ProjectProAvg);

NameError: name 'ProjectPrordd' is not defined

In [25]:
df=spark.range(0,20)
newdf=df.repartition(10)
newcol=df.coalesce(2)
print(newcol.rdd.getNumPartitions())

2

In [8]:
from pyspark import SparkContext,SparkConf
conf=SparkConf().setAppName('test').setMaster('local[*]')
sc=SparkContext(conf=conf)
big_list=range(10000)
rdd=sc.parallelize(big_list,2)
odds=rdd.filter(lambda x: x%2!=0)
odds.take(5)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0) (DESKTOP-DDKQGNR executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1589)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:694)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:738)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:690)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:655)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:631)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:588)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:546)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 14 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2228)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2249)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2268)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:166)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1589)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:164)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:694)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:738)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:690)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:655)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:631)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:588)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:546)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 14 more

In [20]:
data=[(1,'abc',['gcp','azure']),(2,'xyz',['python','java'])]
schema=['id','name','skill']
df=spark.createDataFrame(data,schema)
df.show()

+---+----+--------------+
| id|name|         skill|
+---+----+--------------+
|  1| abc|  [gcp, azure]|
|  2| xyz|[python, java]|
+---+----+--------------+

In [21]:
df=df.withColumn('skills',array_contains(col('skill'),'java'))
df.show()

+---+----+--------------+------+
| id|name|         skill|skills|
+---+----+--------------+------+
|  1| abc|  [gcp, azure]| false|
|  2| xyz|[python, java]|  true|
+---+----+--------------+------+

In [55]:
df_lit=df_emp.select(col("emp_name"),col("job_name"),lit("india").alias("country"))
df_lit.show()

+--------+---------+-------+
|emp_name| job_name|country|
+--------+---------+-------+
| KAYLING|PRESIDENT|  india|
|   BLAZE|  MANAGER|  india|
|   CLARE|  MANAGER|  india|
|   JONAS|  MANAGER|  india|
| SCARLET|  ANALYST|  india|
|   FRANK|  ANALYST|  india|
|SANDRINE|    CLERK|  india|
|  ADELYN| SALESMAN|  india|
|    WADE| SALESMAN|  india|
|  MADDEN| SALESMAN|  india|
|  TUCKER| SALESMAN|  india|
|  ADNRES|    CLERK|  india|
|  JULIUS|    CLERK|  india|
|  MARKER|    CLERK|  india|
+--------+---------+-------+

In [63]:
df_filter=df_lit.filter((col("job_name")=="CLERK") | (col("emp_name")=="MARKER")).show()

+--------+--------+-------+
|emp_name|job_name|country|
+--------+--------+-------+
|SANDRINE|   CLERK|  india|
|  ADNRES|   CLERK|  india|
|  JULIUS|   CLERK|  india|
|  MARKER|   CLERK|  india|
+--------+--------+-------+

In [5]:
from pyspark.sql import SparkSession
from datetime import datetime

 
spark = SparkSession.builder \
    .appName("GCS Read Current Date CSV") \
    .config("spark.hadoop.fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem") \
    .config("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .config("spark.hadoop.google.cloud.auth.service.account.json.keyfile", "/path/to/your/service-account-key.json") \
    .getOrCreate()

bucket_name = "your-gcs-bucket-name"
folder_path = "path/to/csv/files"

current_date = datetime.now().strftime("%Y-%m-%d")

csv_file_path = f"gs://{bucket_name}/{folder_path}/{current_date}.csv"

df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_file_path)


df.show()

Py4JJavaError: An error occurred while calling o36.csv.
: org.apache.hadoop.fs.UnsupportedFileSystemException: No FileSystem for scheme "gs"
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:3443)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:3466)
	at org.apache.hadoop.fs.FileSystem.access$300(FileSystem.java:174)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:3574)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:3521)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:540)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:365)
	at org.apache.spark.sql.execution.datasources.DataSource$.$anonfun$checkAndGlobPathIfNecessary$1(DataSource.scala:724)
	at scala.collection.immutable.List.map(List.scala:293)
	at org.apache.spark.sql.execution.datasources.DataSource$.checkAndGlobPathIfNecessary(DataSource.scala:722)
	at org.apache.spark.sql.execution.datasources.DataSource.checkAndGlobPathIfNecessary(DataSource.scala:551)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:404)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:538)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)

In [6]:
import org.apache.spark.sql.SparkSession
import java.time.LocalDate
import java.time.format.DateTimeFormatter

val spark = SparkSession.builder().appName("GCS Read Current Date CSV").config("spark.hadoop.fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem").config("spark.hadoop.google.cloud.auth.service.account.enable", "true").config("spark.hadoop.google.cloud.auth.service.account.json.keyfile", "/path/to/your/service-account-key.json").getOrCreate()

val bucketName = "your-gcs-bucket-name"
val folderPath = "path/to/csv/files"

val currentDate = LocalDate.now().format(DateTimeFormatter.ofPattern("yyyy-MM-dd"))

val csvFilePath = s"gs://$bucketName/$folderPath/$currentDate.csv"

val df = spark.read.option("header", "true").option("inferSchema", "true").csv(csvFilePath)

df.show()

SyntaxError: invalid syntax (1468053357.py, line 5)

In [15]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("Python Spark SQL basic example").getOrCreate()

bucket_name = "your-gcs-bucket-name"

folder_path = "C:\\Users\\Kiran Adhav\\OneDrive\\Desktop\\kiran\\"

current_date = datetime.now().strftime("%Y-%m-%d")

csv_file_path = f"gs://{bucket_name}/{folder_path}/{current_date}.csv"

df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_file_path)


df.show()

Py4JJavaError: An error occurred while calling o76.csv.
: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Ljava/lang/String;I)Z
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1249)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1454)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.spark.util.HadoopFSUtils$.listLeafFiles(HadoopFSUtils.scala:180)
	at org.apache.spark.util.HadoopFSUtils$.$anonfun$parallelListLeafFilesInternal$1(HadoopFSUtils.scala:95)
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:286)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at scala.collection.TraversableLike.map(TraversableLike.scala:286)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:279)
	at scala.collection.AbstractTraversable.map(Traversable.scala:108)
	at org.apache.spark.util.HadoopFSUtils$.parallelListLeafFilesInternal(HadoopFSUtils.scala:85)
	at org.apache.spark.util.HadoopFSUtils$.parallelListLeafFiles(HadoopFSUtils.scala:69)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex$.bulkListLeafFiles(InMemoryFileIndex.scala:162)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex.listLeafFiles(InMemoryFileIndex.scala:133)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex.refresh0(InMemoryFileIndex.scala:96)
	at org.apache.spark.sql.execution.datasources.InMemoryFileIndex.<init>(InMemoryFileIndex.scala:68)
	at org.apache.spark.sql.execution.datasources.DataSource.createInMemoryFileIndex(DataSource.scala:539)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:405)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:229)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:211)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:538)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Unknown Source)

In [ ]:
from google.cloud import storage
from google.cloud import bigquery
from datetime import datetime
import pandas as pd
import os

# Set up GCS and BigQuery client
storage_client = storage.Client()
bigquery_client = bigquery.Client()

# Define your GCS bucket and BigQuery dataset/table names
gcs_bucket_name = 'your-gcs-bucket-name'
gcs_folder = 'path/to/your/csv/files'
bigquery_dataset_name = 'your_dataset_name'
bigquery_table_name_base = 'your_table_name_base'  # Base name for the table, e.g., 'my_table'

# Get the current date in YYYY_MM_DD format for date-based naming
current_date = datetime.now().strftime('%Y_%m_%d')

# Define BigQuery dataset and table names with the current date
bigquery_table_name = f"{bigquery_table_name_base}_{current_date}"

# Define the full table ID in BigQuery (project.dataset.table)
table_id = f"{bigquery_client.project}.{bigquery_dataset_name}.{bigquery_table_name}"

# Create a BigQuery dataset if it does not exist
dataset_id = f"{bigquery_client.project}.{bigquery_dataset_name}"
dataset = bigquery.Dataset(dataset_id)
dataset.location = "US"  # Set your location
bigquery_client.create_dataset(dataset, exists_ok=True)

# List all files in the GCS folder
bucket = storage_client.get_bucket(gcs_bucket_name)
blobs = bucket.list_blobs(prefix=gcs_folder)

# Process each CSV file
for blob in blobs:
    if blob.name.endswith('.csv'):
        print(f"Processing file: {blob.name}")

        # Download the CSV file from GCS as a pandas DataFrame
        blob_data = blob.download_as_text()
        df = pd.read_csv(pd.compat.StringIO(blob_data))

        # Load the DataFrame into BigQuery
        job_config = bigquery.LoadJobConfig(
            write_disposition=bigquery.WriteDisposition.WRITE_APPEND,
            source_format=bigquery.SourceFormat.CSV,
            autodetect=True,
        )

        load_job = bigquery_client.load_table_from_dataframe(
            df, table_id, job_config=job_config
        )
        load_job.result()  # Wait for the job to complete

        print(f"Loaded data into BigQuery table {table_id}")

print("All CSV files have been processed and loaded into BigQuery.")